<!DOCTYPE html>
<html lang="en">
  <% include ../../partials/header.ejs %>

  <body id="page-top">
    <div id="wrapper">
      <% include ../../partials/sidebar.ejs %>

      <div
        id="content-wrapper"
        class="d-flex flex-column"
      >
        <div id="content">
          <% include ../../partials/navbar.ejs %>

          <div class="container-fluid">
            <h1 class="h3 mb-4 text-primary">
              Dashboard
            </h1>

            <!-- Content Row -->
            <div class="row">
              <!-- Members -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div
                  class="card border-left-primary shadow h-100 py-2"
                >
                  <div class="card-body">
                    <div
                      class="row no-gutters align-items-center"
                    >
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Members
                        </div>
                        <div
                          class="h5 mb-0 font-weight-bold text-gray-800"
                        >
                          <%= members.length %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-users fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Bookings -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div
                  class="card border-left-success shadow h-100 py-2"
                >
                  <div class="card-body">
                    <div
                      class="row no-gutters align-items-center"
                    >
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Orders
                        </div>
                        <div
                          class="h5 mb-0 font-weight-bold text-gray-800"
                        >
                          <%= bookings.length %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-hand-holding-usd fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Items -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div
                  class="card border-left-info shadow h-100 py-2"
                >
                  <div class="card-body">
                    <div
                      class="row no-gutters align-items-center"
                    >
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-info text-uppercase mb-1"
                        >
                          Services
                        </div>
                        <div
                          class="row no-gutters align-items-center"
                        >
                          <div class="col-auto">
                            <div
                              class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                            >
                              <%= items.length %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-hotel fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Categories -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div
                  class="card border-left-warning shadow h-100 py-2"
                >
                  <div class="card-body">
                    <div
                      class="row no-gutters align-items-center"
                    >
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                        >
                          Categories
                        </div>
                        <div
                          class="h5 mb-0 font-weight-bold text-gray-800"
                        >
                          <%= categories.length %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-gem fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
          </div>
        </div>
        <% include ../../partials/footer.ejs %>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../../partials/logoutModal.ejs %>
  </body>
  <% include ../../partials/scripts.ejs %>
</html>
