<!DOCTYPE html>
<html lang="en">
  <% include ../../partials/header.ejs %>

  <body id="page-top">
    <div id="wrapper">
      <% include ../../partials/sidebar.ejs %>

      <div
        id="content-wrapper"
        class="d-flex flex-column"
      >
        <div id="content">
          <% include ../../partials/navbar.ejs %>

          <div class="container-fluid">
            <% include ../../partials/message.ejs %>

            <h1 class="h3 mb-4 text-primary">
              Our Items
            </h1>

            <% if (action === 'view') { %>
            <ul
              class="nav nav-tabs"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#show-item"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  List Items
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#add-item"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                >
                  Add Items
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="show-item"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <% include ./tableItem.ejs %>
              </div>
              <div
                class="tab-pane fade"
                id="add-item"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <% include ./addItem.ejs %>
              </div>
            </div>
            <% } else if (action === 'show image') { %>
            <ul
              class="nav nav-tabs"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#show-image"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  Show Image
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="show-image"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <% include ./showImageItem.ejs %>
              </div>
            </div>
            <% } else { %>
            <ul
              class="nav nav-tabs"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#edit-item"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  Edit Item
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="edit-item"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <% include ./editItem.ejs %>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% include ../../partials/footer.ejs %>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../../partials/logoutModal.ejs %>
  </body>
  <% include ../../partials/scripts.ejs %>
</html>
