<!DOCTYPE html>
<html lang="en">
  <% include ../../../partials/header.ejs %>

  <body id="page-top">
    <div id="wrapper">
      <% include ../../../partials/sidebar.ejs %>

      <div
        id="content-wrapper"
        class="d-flex flex-column"
      >
        <div id="content">
          <% include ../../../partials/navbar.ejs %>

          <div class="container-fluid">
            <% include ../../../partials/message.ejs %>

            <h1 class="h3 mb-4 text-primary">
              Detail Item
            </h1>

            <ul
              class="nav nav-tabs"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#show-feature"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  Show Feature
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#show-activity"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                >
                  Show Activity
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="show-feature"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <% include ./show_feature.ejs %>
              </div>
              <div
                class="tab-pane fade"
                id="show-activity"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <% include ./show_activity.ejs %>
              </div>
            </div>
          </div>
        </div>
        <% include ../../../partials/footer.ejs %>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../../../partials/logoutModal.ejs %>
  </body>

  <% include ../../../partials/scripts.ejs %>
  <script>
    $(document).ready(function () {
      $('#dataTableActivity').DataTable();
    });
    CKEDITOR.replace('description');
  </script>
</html>
